<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="classification" method="POST">
    <label for="AGE" class="form-label">
            AGE:
        </label>
        <input
                type=number
                name="AGE"
                class="AGE"
                id="AGE"
                placeholder="Enter Age"
                required
        />
        <label for="yrs-married" class="form-label">
            Years of Married:
        </label>
        <input
                type=number
                name="yrs_married"
                class="yrs_married"
                id="yrs_married"
                placeholder="Enter Year of marriage"
                required
        />
        <input type="submit">submit</input>
</form>
</body>
</html>